.detail-image{
    width: 100%;
    height: 542px;
    border-radius: 30px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 0 0 15px rgba(33,33,33,.9); 
}

.details-content{
    height: 100%;
    padding-left: 15%;
    padding-right: 10%;
    padding-top: 20px;
}

.details-content h2{
    margin-bottom: 15px;
    font-size: 1.8rem;
}

.price{
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 40px;
}

.dot{
    width: 2px;
    height: 2px;
    /* White */
    background: #FFFFFF;
    /* Inside Auto Layout */
    margin: 0px 5px;
}

.details-creator{
    text-align: left;
    margin-bottom: 40px;
}

.details-creator-profile{
    display: flex;
    align-items: center;
}

.details-creator-title{
    font-size: 12px;
    margin-bottom: 15px;
    font-weight: 100;
}

.details-creator-profile-name{
    margin-left: 15px;
}

.details-creator-profile-img{
    background-image: url(https://lh3.googleusercontent.com/7c9Hik94MOENtTZhEOxeJZA2ZNT4-5zSTqOJvHwc68Y_H5Eap2wHAk49bPS9VOl0DR68A8tzd9grLB_PDviWD_psvEPjUexcBcI10A=s250);
    height: 50px;
    width: 50px;
    border-radius: 50px;
    background-size: contain;
    background-repeat: no-repeat;
}

.tab-content{
    text-align: left;
}

.nav-tabs a{
    color: #fff;
}

.nav-tabs {
    border-bottom: 1px solid #383838;
}

.nav-tabs .nav-link{
    border-bottom: 1px solid #383838;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    font-size: 14px;
    padding: 0.5rem 1.8rem;
    transition: 0.3s;
}

.nav-tabs .nav-link:hover{
    border: 0;
    border-bottom: 1px solid #fff;
}

.nav-tabs .nav-link.active{
    color: #fff;
    border-color: #fff;
    border-top: 0;
    border-left: 0;
    border-right: 0;
}

.details-actions{
    margin-top: 40px;
    display: flex;
    align-items: center;
}

.details-actions a{
    margin-left: 0;
    padding: 15px 40px;
    border-radius: 10px;
}

.details-actions a.goBack{
    color: #fff;
    text-decoration: none;
    opacity: 0.5;
    transition: 0.3s opacity;
}

.details-actions a.goBack:hover{
    opacity: 1;
}

@media only screen and (max-width: 768px) {

    .detail-image{
        width: 100%;
        max-width: 425px;
        height: 425px;
    }
    
    .details-content{
        padding: 0;
        margin-top: 50px;
    }
}