.btn{
  border: 1px solid #DA18A3;
  color: #DA18A3;
  font-size: 0.8rem;
  margin-left: 20px;
}

.btn-outline-success:hover{
  background-color: #DA18A3;
  border: 1px solid #DA18A3;
  color: #fff;
}